{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm Email Address" %}{% endblock head_title %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-center my-5 mx-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1>{% trans "Confirm Email Address" %}</h1>
                {% if confirmation %}
                {% user_display confirmation.email_address.user as user_display %}
                {% if can_confirm %}
                <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a
                        href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.
                    {% endblocktrans %}</p>
                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                    <button type="submit" class="btn">{% trans 'Confirm' %}</button>
                </form>
                {% else %}
                <p>{% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.
                    {% endblocktrans %}</p>
                {% endif %}
                {% else %}
                <div class="resend-verification-link mb-4">
                    Didn't receive your verification
                    email?<a href="{% url 'resend_verification_email' %}">
                        <p class="dark-green">Please click this link to issue a
                            new email confirmation request.</p>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}