{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}

<section class=" container-fluid d-flex justify-content-center password-reset mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="h3 form-heading">{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans "Forgotten your password? Enter your email address below, <br>and we'll send you an email allowing you to reset it." %}
            </p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset mb-4"
                aria-label="Submit button for reseting password">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% trans 'Reset My Password' %}" class="btn">
            </form>

            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            {% endblock content %}
        </div>
    </div>
</section>