{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-center my-5 mx-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-left">
                {% block head_title %}{% trans "Verification" %}{% endblock head_title %}
                <h1 class="h4">{% trans "Verify Your Email Address" %}</h1>
                <p>{% blocktrans %}We have sent an email to you for verification. Follow the link provided
                    to
                    finalize
                    the signup
                    process. If you do not see the verification email in your main inbox, check your spam folder. Please
                    contact us if
                    you do not receive the verification email within a few minutes.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}