{% extends 'base.html' %}
{% block content %}
{% load static %}


<body>
    <div class="container-fluid events">
        <div class="container">
            <div class="row post-row">
                <h1 class="parent-heading">Events</h1>
                {% for event in events %}
                <div class="col-md-4 post-col">
                    <div class="card h-100">
                        {% if post.image %}
                        <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h2 class="event-heading">{{ event.heading }}</h2>
                            <h5 class="card-title">{{ event.title }}</h5>
                            <p class="card-text">{{ event.excerpt }}
                                <p class="card-text">{{ event.start_date }}</p>
                                <p class="card-text">{{ event.end_date }}</p>

                                {% if user.is_authenticated %}
                                <a href="{% url 'event_detail' event.slug %}" class="post-link">...</a>
                            </p>
                            {% else %}
                            <span class="event-link" onclick="alert('Please log in to view this post.')">...</span>
                            {% endif %}
                            <div> <button type="submit"><i class="fas fa-heart"></i></button></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="container-fluid bg-white">
        <div class="container">
            <div class="row">
                <h1 class="parent-heading">Events</h1>
                {% for post in posts %}
                <div class="col-md-4 post-col">
                    <div class="card h-100">
                        {% if post.image %}
                        <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h2 class="post-heading">{{ post.heading }}</h2>
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.excerpt }}
                                {% if user.is_authenticated %}
                                <a href="{% url 'post_detail' post.slug %}" class="post-link">...</a></p>
                            {% else %}
                            <span class="post-link" onclick="alert('Please log in to view this post.')">...</span>
                            {% endif %}
                            <div> <button type="submit"><i class="fas fa-heart"></i></button></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}