{% extends 'base.html' %}
{% block content %}
{% load static %}


<body>
    <div class="container-fluid events">
        <div class="container">
            <div class="row">

                <div>
                    <div class="card h-100">
                        {% if post.image %}
                        <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.title }}">
                        {% endif %}
                        <div>
                            <h2 class="event-heading">{{ event.ID }}</h2>
                            <h5 class="card-title">{{ event.title }}</h5>
                            <p class="card-text">{{ event.description }}
                                <p class="card-text">{{ event.start_date }}</p>
                                <p class="card-text">{{ event.end_date }}</p>
                                <h1 class="parent-heading">RSVP</h1>
                                <div class="container rsvp">
                                    <form method="post" action="{% url 'event_detail' event.id %}">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="btn">RSVP</button>
                                    </form>
                                </div>

                        </div>
                    </div>
                </div>


</body>
{% endblock %}