{% extends 'base.html' %}
{% block content %}
{% load static %}


<body>
    <div class="container-fluid d-flex justify-content-center">
        <div class="container">
            <div class="row">
                <div class="image-container d-flex justify-content-center align-items-center">
                    <img src="{{ event.featured_image.url }}" alt="Event Image">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 pl-lg-4 pr-lg-4">
                                <h6 class="event-heading">{{ event.heading }}</h6>
                                <h1 class="post-title mt-3">{{ event.title }}</h1>
                                <p class="event-text-description">{{ event.description }}</p>
                                <p class="card-date mt-4">{{ event.start_date }} - {{ event.end_date }}</p>
                                <h4 class="parent-heading">RSVP to the event</h4>
                                <div class="container rsvp">
                                    <form method="post" action="{% url 'event_detail' event.id %}">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="btn">RSVP</button>
                                    </form>
                                    <div class="message message-rsvp">
                                        {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                            <li>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pl-lg-4 mt-5">
                                <hr class="hr-thick">
                                <div class="d-flex justify-content-center some-icons-row">
                                    <p><i class="fa-brands fa-facebook some-footer some-icons"></i></p>
                                    <p><i class="fa-brands fa-instagram some-footer some-icons"></i></p>
                                    <p><i class="fa-brands fa-pinterest some-footer some-icons"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
</body>
{% endblock %}