{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="body index-page">
    {% if user.is_authenticated %}
    <div class="full-width-container image-container-list-top the-latest">
        <img src="{% static 'images/restaurant_1_unsplash.webp' %}" alt="Restaurant Image">
    </div>
    {% else %}
    <div class="container-fluid d-flex info-non-logged-in-users align-items-center container-post-row">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="h3 info-header text-sm-center text-sm-left">Enjoy the best of Stockholm.</h1>
                        <p>
                            City guide. Events & more.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <button class=" info-button btn mt-3">Try Spotted for free</button>
                        <p> or learn more here (link)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <section class="container-fluid d-flex justify-content-center bg-white the-latest container-post-row">
        <div class="container">
            <h2 class="h1 parent-heading mt-4">The Latest</h2>
            <div class="row post-row">
                {% for post in posts %}
                <div class="col-md-4 post-col">
                    {% if user.is_authenticated %}
                    <a href="{% url 'post_detail' post.slug %}" class="post-link"
                        aria-label=" Click link to read full post">
                        {% endif %}
                        <div class="card h-100">
                            {% if post.featured_image.url %}
                            <div class="card-image-container">
                                <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                            </div>
                            {% endif %}
                            <div class="card-body">
                                <div class="d-flex">
                                    <h2 class="post-heading">{{ post.heading }} |&nbsp;</h2>
                                    <h2 class="post-neighbourhood">{{ post.neighbourhood }}</h2>
                                </div>
                                <h2 class="h5 card-title">{{ post.title }}</h2>
                                <article class="card-excerpt">{{ post.excerpt|safe|truncatewords:10 }}</article>
                    </a>
                </div>
                {% if user.is_authenticated %}
                <div class="post-actions">
                    <button class="btn-post btn-like" data-post-id="{{ post.id }}" aria-label="button like post">
                        <a href="{% url 'like_post' post.id %}" aria-label="Click the icon to like the post"
                            class="like-post"><i class="fa-solid fa-heart"></i></a>
                    </button>
                    <button class="btn-post btn-save-post" data-post-id="{{ post.id }}" aria-label="button save post">
                        <a href="{% url 'save_post' post.id %}" aria-label="Click the icon to bookmark the post"
                            class="save-post"><i class="fa-solid fa-bookmark"></i></a>
                    </button>
                </div>
                {% else %}
                <div class="post-symbols">
                    <i class="fa-solid fa-heart like-post"></i>
                    <i class="fa-solid fa-bookmark save-post"></i>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
</div>
</div>
</section>

<section class="container-fluid d-flex justify-content-center bg-whitesmoke container-post-row">
    <div class="container">
        <h2 class="h1 parent-heading mt-4">What's On & Perks</h2>
        <div class="row post-row">
            {% for post in posts %}
            {% if post.heading.name == "What's on" or post.heading.name == 'Perks' %}
            <div class="col-md-4 post-col">
                {% if user.is_authenticated %}
                <a href="{% url 'post_detail' post.slug %}" class="post-link">
                    {% endif %}
                    <div class="card h-100">
                        {% if post.featured_image.url %}
                        <div class="card-image-container">
                            <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                        </div>
                        {% endif %}
                        <div class="card-body">
                            <div class="d-flex">
                                <h2 class="post-heading">{{ post.heading }} |&nbsp;</h2>
                                <h2 class="post-neighbourhood">{{ post.neighbourhood }}</h2>
                            </div>
                            <h2 class="h5 card-title">{{ post.title }}</h2>
                            <article class="card-excerpt">{{ post.excerpt|safe|truncatewords:10 }}</article>
                </a>
            </div>
            {% if user.is_authenticated %}
            <div class="post-actions">
                <button class="btn-post btn-like" data-post-id="{{ post.id }}" aria-label="button like post"><a
                        href="{% url 'like_post' post.id %}" class="like-post" aria-label="Click the icon to
                            like the post"><i class="fa-solid fa-heart"></i></a></button>

                <button class="btn-post btn-save-post" data-post-id="{{ post.id }}" aria-label="button save post"><a
                        href="{% url 'save_post' post.id %}" class="save-post" aria-label="Click the icon to
                            bookmark the post"><i class="fa-solid fa-bookmark"></i></a></button>
            </div>
            {% else %}
            <div class="post-symbols">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-bookmark"></i>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
</section>
</div>
{% endblock %}