{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
{% load static %}

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body>
    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-md-4">
                <div class="card">
                    {% if post.image %}
                    <img src="{{ post_images.url }}" class="card-img-top" alt="{{ post.title }}">
                    {% endif %}
                    <p>{{post.heading}}</p>
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text"></p>
                        <h2><a href="{% url 'post_detail' slug=post.slug %}" {{ post.title }}
                                class="excerpt">{{ post.excerpt }}</a></h2>
                        <button class="heart-button" id="like-button" data-post-id="{{ post.id }}">Heart</button>
                        <span class=button id="like-count">{{ post.likes.count }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endif %}
<!-- JS -->

<form id="csrf-form">
    {% csrf_token %}
</form>

<script>
    const csrfToken = $("#csrf-form input[name='csrfmiddlewaretoken']").val();
</script>
<script src="{% static 'js/like_post.js' %}"></script>
{% endblock %}