{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<div class="body d-flex flex-column h-100 main-bg add-post">
    <div class="container mb-5 mx-auto">
        <div class="row content justify-content-center">
            <div class="col-md-8">
                <form method="post" enctype="multipart/form-data" class="custom-form" style="width: 80%;">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form | crispy }}
                    <button class=" btn" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row mx-5 my-5 justify-content-center">
        <div class="col-md-10">
            <h2 class="text-center">All Posts</h2>
            <table class="table table-bordered">
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                {% for post in posts %}
                <tr>
                    <td style="font-size: 14px;">{{ post.title }}</td>
                    <td>{{ post.get_status_display }}</td>
                    <td>
                        <a href="{% url 'edit_post' slug=post.slug %}">Edit</a> |
                        <a href="{% url 'delete_post' slug=post.slug %}" class="btn-delete">Delete</a>
                        <!--<button type="button" class="btn btn-delete-post" post_id="{{ post.slug }}">Delete
                    Post</button>-->
                        <!--<button class="btn btn-delete" data-post-slug="{{ post.slug }}">Delete</button>-->
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</div>
</div>
{% endif %}

{% endblock %}