{% extends "base.html" %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}

<div class="body">
    <div class="container-fluid d-flex justify-content-center">
        <div class="container">
            <div class="row">
                <div class="image-container d-flex justify-content-center align-items-center">
                    <img src="{{ post.featured_image.url }}" alt="Restaurant Image">
                </div>
                <div class="row">
                    <div class="col-md-12 px-0">
                        <div class="row mx-0">
                            <div class="col-md-6 pr-lg-4">
                                <div class="post-content text-left">
                                    <h1 class="post-heading">{{ post.heading }}</h1>
                                    <h2 class=" h2 post-title">{{ post.title }}</h2>
                                    <div class="post-content">
                                        {{ post.content | safe }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pl-lg-5 mt-5">
                                <hr class="hr-thick">
                                <div class="d-flex justify-content-center some-icons-row mt-4">
                                    <p><i class="fa-brands fa-facebook some-footer some-icons"></i></p>
                                    <p><i class="fa-brands fa-instagram some-footer some-icons"></i></p>
                                    <p><i class="fa-brands fa-pinterest some-footer some-icons"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
        {% endblock %}