{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<div class="body d-flex flex-column h-100 main-bg add-post">
    <div class="container mb-5 mx-auto">
        <div class="row content justify-content-center">
            <div class="col-md-8">
                <form method="post" enctype="multipart/form-data" class="custom-form" style="width: 80%;">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form | crispy }}
                    <button class=" btn" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row mx-5 my-5 justify-content-center">
        <div class="col-md-10">
            <h2 class="text-center">All Posts</h2>
            <table class="table table-bordered">
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                {% for post in posts %}
                <tr>
                    <td style="font-size: 14px;">{{ post.title }}</td>
                    <td>{{ post.get_status_display }}</td>
                    <td>
                        <a href="{% url 'edit_post' slug=post.slug %}">Edit</a> |
                        <a href="#" class="btn-post-delete" post_id="{{ post.id }}"
                            post_slug="{{ post.slug }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</div>
</div>
{% endif %}
<!-- Delete Post Modal -->
<div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="deletePostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePostModalLabel">Delete post?</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this post? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
                <a id="deletePostConfirm" href="#" class="btn">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}