{% extends "base.html" %}
{% block content %}
{% load static %}

<body>

    <div class="full-width-container image-container-list-top the-latest mt-2">
        <img src="{% static 'images/restaurant_1_unsplash.jpg' %}" alt="Restaurant Image" class="w-100">
    </div>

    <div class="container-fluid d-flex justify-content-center">
        <div class="container">
            <div class="row post-row">
                <h1 class="parent-heading mt-4">Stockholm Restaurants</h1>
                {% for post in posts %}
                <div class="col-md-4 post-col">
                    <div class="card h-100">
                        {% if post.featured_image.url %}
                        <div class="card-image-container">
                            <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                        </div>
                        {% endif %}
                        <div class="card-body">
                            <h2 class="post-heading">{{ post.heading }}</h2>
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.excerpt }}
                                {% if user.is_authenticated %}
                                <a href="{% url 'post_detail' post.slug %}" class="post-link">...</a></p>
                            {% else %}
                            <span class="post-link read-more"
                                onclick="alert('Please log in to view this post.')">...</span>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <div class="post-actions"><a href="{% url 'like_post' post.id %}" class="like-post"><i
                                        class="fa-solid fa-heart"></i>
                                    <a href="{% url 'save_post' post.id %}" class="save-post"><i
                                            class="fa-solid fa-bookmark"></i></a></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    {% endblock %}
</body>