{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="body things-to-do-page">
    <div class="full-width-container image-container-list-top">
        <img src="{% static 'images/louis-hansel-yLUvnCFI500-unsplash.webp' %}" alt="Restaurant Image" class="w-100">
    </div>

    <section class="container-fluid d-flex justify-content-center bg-whitesmoke container-post-row">
        <div class="container">
            <h2 class="h1 parent-heading mt-4">Bars</h2>
            <div class="divider">
                <hr class="section-divider">
            </div>
            <h2 class="h4 section-heading mt-4">Weekend ideas</h2>
            <div class="row post-row">
                {% for post in posts %}
                <div class="col-md-4 post-col">
                    <div class="card h-100">
                        {% if user.is_authenticated %}
                        <a href="{% url 'post_detail' post.slug %}" class="post-link">
                            {% endif %}
                            {% if post.featured_image.url %}
                            <div class="card-image-container">
                                <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{ post.image }}">
                            </div>
                            {% endif %}
                            <div class="card-body">
                                <div class="d-flex">
                                    <h2 class="post-heading">{{ post.heading }} |&nbsp;</h2>
                                    <h2 class="post-neighbourhood">{{ post.neighbourhood }}</h2>
                                </div>
                                <h2 class="h5 card-title">{{ post.title }}</h2>
                                <div class="card-excerpt">{{ post.excerpt|safe|truncatewords:10 }}</div>
                            </div>
                        </a>

                        {% if user.is_authenticated %}
                        <div class="post-actions">
                            <div class="btn-post btn-like" data-post-id="{{ post.id }}"><a
                                    href="{% url 'like_post' post.id %}" class="like-post" aria-label="link">
                                    <i class="fa-solid fa-heart"></i></a></div>

                            <div class="btn-post btn-save-post" data-post-id="{{ post.id }}">
                                <a href="{% url 'save_post' post.id %}" class="save-post" aria-label="link">
                                    <i class="fa-solid fa-bookmark"></i></a></div>
                        </div>
                        {% else %}
                        <div class="post-symbols">
                            <i class="fa-solid fa-heart"></i>
                            <i class="fa-solid fa-bookmark"></i>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="container-fluid d-flex justify-content-center bg-whitesmoke container-post-row">
        <div class="container">
            <h2 class="h1 parent-heading mt-4">Things to do & Perks</h2>
            <div class="row post-row">
                {% for post in posts %}
                {% if post.heading.name == "" or post.heading.name == 'Perks' %}
                <div class="col-md-4 post-col">
                    <div class="card h-100">
                        {% if user.is_authenticated %}
                        <a href="{% url 'post_detail' post.slug %}" class="post-link">
                            {% endif %}
                            {% if post.featured_image.url %}
                            <div class="card-image-container">
                                <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                            </div>
                            {% endif %}
                            <div class="card-body">
                                <div class="d-flex">
                                    <h2 class="post-heading">{{ post.heading }} |&nbsp;</h2>
                                    <h2 class="post-neighbourhood">{{ post.neighbourhood }}</h2>
                                </div>
                                <h2 class="h5 card-title">{{ post.title }}</h2>
                                <div class="card-excerpt">{{ post.excerpt|safe|truncatewords:10 }}</div>
                            </div>
                        </a>
                        {% if user.is_authenticated %}
                        <div class="post-actions">
                            <div class="btn-post btn-like" data-post-id="{{ post.id }}"><a
                                    href="{% url 'like_post' post.id %}" class="like-post" aria-label="link">
                                    <i class="fa-solid fa-heart"></i></a></div>

                            <div class="btn-post btn-save-post" data-post-id="{{ post.id }}">
                                <a href="{% url 'save_post' post.id %}" class="save-post" aria-label="link">
                                    <i class="fa-solid fa-bookmark"></i></a></div>
                        </div>
                        {% else %}
                        <div class="post-symbols">
                            <i class="fa-solid fa-heart"></i>
                            <i class="fa-solid fa-bookmark"></i>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %}