/* Global styles */


:root {
    --primary-color: black;
    --secondary-color: white;
    --button-green: #2A7221;
    --dark-green: #1E441E;
    --hover-green: #119822;
    --background-color: whitesmoke;
}

* {
    margin: 0;
    font-family: "Playfair Display",
        serif;
    font-optical-sizing: auto;
    font-weight: ;
    font-style: normal;
}


body {
    background-color: white;
    min-height: 100vh;
}

.btn {
    background-color: #2A7221;
}

.messages {
    list-style: none;
    padding: 1em;
}

.btn:hover {
    background-color: #119822;
}

/* Navbar styling */

.first-nav {
    height: 90px;
    background-color: black;
}

.first-nav .container-fluid {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

.logo {
    position: absolute;
    top: 21px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;

}

img {
    width: auto;
    height: 90px;
}

.nav-link {
    line-height: 5px;
    padding-top: 20px;
}

.navbar-nav .nav-link {
    color: black;
    font-family: poppins;
}

.navbar-dropdown {
    margin-right: 20px;
}

.container {
    margin-bottom: 20px;
    margin-top: 15px;
}

.parent-heading {
    padding-top: 20px;
    font-size: 25px;
}

.btn {
    color: white;
    background-color: #2A7221;
    border-radius: 0;
}

.form-control-sm {
    height: 30px;
}

.search-form {
    flex: 1;
}


/* Post/event-list styling*/

.post-heading,
.event-heading {
    font-family: poppins;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
}

.card-image-container {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}

.card-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    border-radius: 0;
}

.post-actions {
    display: flex;
    justify-content: space-between;
}

.post-actions a {
    margin-right: 10px;
}

.post-actions a {
    margin-right: 10px;
}

.fa-heart {
    color: #1E441E;
}

.like-post,
.save-post {
    font-size: 14px;
}

a {
    color: black;
}

a:hover {
    color: #119822;
    text-decoration: none;
}

.read-more {
    font-size: 18px;
}

/*Page and section styling */

.the-latest {
    background-color: white;
}

.image-container {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
    ;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-container-list-top {
    width: 100%;
    max-height: 500px;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-container-list-top img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.the-latest {
    background-color: whitesmoke;
}

.events-perks {
    background-color: whitesmoke;
}

.hr {
    border: 25;
    height: 15px;
    background-color: black;
}


.event-details {
    padding: 2em;
}

/* Styling user profile */

.user-profile-welcome {
    background-color: black;
    color: white;
}

.user-profile {
    background-color: whitesmoke;
    color: black;
}

/*Post styling*/

.post-col {
    margin-top: 20px;
}


.post-heading {
    font-size: 14px;
}

.post-title .post-content {
    color: white;
}

.card--text {
    font-size: 16px;
    text-decoration: none;
    color: gray;
}

.card {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0;
}

.card-title {
    margin: 0;
}

.card-body {
    padding: 10px;
}

.card .card-body {
    max-height: 800px;
    overflow: hidden;
}

.card .card-body p {
    font-size: 18px;
    padding: 0;
    color: gray;
}

.post-link {
    text-decoration: none;
    color: #119822;
}

/*Footer styling */

.hover:hover {
    color: hotpink;
}

.bg-dark {
    background-color: black;
}

footer {
    background-color: black;
    max-height: 300px;
}

.footer-row {
    padding: 1em;
}

.text-decoration-none {
    color: white;
    font-size: 14px;
    text-transform: capitalize;
}

.text-decoration-none:hover {
    color: hotpink;
}


.footer-divider::before,
.footer-divider::after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 10 10px;
}

/* Media queries */
@media (max-width: 767px) {

    .search_field {
        display: none;
    }

    .container {
        overflow: auto;
    }

    .card {
        margin-left: 15px;
    }
}