{% extends 'base.html' %}

{% block content %}

<body>
    <h2>Welcome,
        {{ request.user.first_name }} {{ request.user.last_name }}!</h2>
    <p>Email: {{ request.user.email }}</p>
    <!--{% if request.user%}-->
    <p>City: {{ request.user.userprofile.city }}</p>
    <p>Neighbourhood: {{ request.user.userprofile.neighbourhood }}</p>
    <p>Interests: {{ request.user.userprofile.interests }}</p>

    <!--{% else %}-->
    <p>No profile information available</p>
    {% endif %}
</body>

{% endblock %}