{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}


<div class="body body-delete-account">



    <h1 class="h2 text-center form-heading mt-5">Delete Account</h1>
    <div class="container-fluid text-center d-flex justify-content-center">
        <div class="container d-flex justify-content-center mt-2">
            <div class="row justify-content-center">
                <div class="col-md-6 justify-content-center">
                    <div class="text-wrap">
                        <h2 class="h5 form-heading mt-3">We are sorry you want to leave us {{ request.user.first_name }}
                            {{ request.user.last_name }}.</h2>
                        <p>
                            To delete your account just check the box below and click the button. It will delete your
                            account and any information associated with it.</p>
                        <br>
                        <h3 class="h5">We hope to see you back here in the future!</h5>

                    </div>
                    <div class="mt-4 mb-4">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class=" btn btn-delete-account" type="submit"
                                aria-label="submit button delte account">Delete
                                Account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
    {% endblock %}