{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}


<div class="body">
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class=" btn btn-delete-account" type="submit"
                        aria-label="submit button delte account">Delete
                        Account</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}