{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}

<body class="d-flex flex-column h-100 main-bg body-user-profile">
    <div class="container-fluid">
        <div class="container mx-auto">
            <div class="row">
                <div class="text-wrap col-md-12">
                    <h1 class="h4 form-heading mt-5">Welcome {{ request.user.first_name }}
                        {{ request.user.last_name }}</h1>
                    <p>Username: {{ request.user.username }}!</p>
                    <p>
                        If you would like to update your profile you can do so below,<br>
                        including changing your email and username.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    {% if user.userprofile %}
                    <div class="form mt-4">
                        <div class="container user-profile">
                            <form method="post" class="pt-4 pb-4">
                                {% csrf_token %}
                                {{ user_form_update | crispy }}
                                {{ profile_form | crispy }}
                                <button class="btn pb-2" id="update-profile-btn" type="submit">Update</button>
                            </form>
                        </div>
                        <div class="mb-2">
                            <a href="{% url 'account_change_password' %}" class=" form-links">To change your password
                                please
                                follow
                                this link</a>
                        </div>
                    </div>
                    {% else %}
                    <h2>You don't have a profile yet.</h2>
                    <p>Please <a href="{% url 'account_signup' %}">create a profile</a> to edit your details.</p>
                    {% endif %}
                </div>
                <div class="col-md-3 mt-5">
                    <h3 class="h5 saved_posts">Your saved posts</h3>
                    {% for saved_post in saved_posts %}
                    <div>
                        <ul class="list-unstyled">
                            <li><a class="text-decoration-underline saved-post-link"
                                    href="{% url 'post_detail' saved_post.post.slug %}">{{ saved_post.post.title }}</a>
                                <p> {{ saved_post.post.excerpt }}</p>
                            </li>
                        </ul>
                    </div>
                    {% empty %}
                    <p>No saved posts.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
{% endif %}
{% endblock %}