{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="body memberships-page">
    <div class="container-fluid d-flex justify-content-center mt-4 mb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pr-lg-4 text-left">
                    <h1 class="h3">Discover Stockholm's Hidden Charms with Spotted Membership!
                    </h1>
                    <br>
                    <h2 class="h5">
                        Dear Stockholm Explorers,</h2>
                    <br>
                    <p class="partnership-text">
                        Greetings from Spotted Stockholm, your gateway to the hidden gems and vibrant pulse of our
                        beloved city! Since our inception, we've been dedicated to showcasing the best of Stockholm
                        through curated content and exclusive experiences, earning the trust of a diverse and engaged
                        audience.
                    </p>
                    <h3 class="h6">Why become a Spotted Member? Here's why:</h3>
                    <p>1. Exclusive Access: Picture yourself at VIP events, intimate gatherings, and secret locales
                        reserved just for our members. As a Spotted Member, you'll unlock doors to experiences that
                        showcase the essence of Stockholm's vibrant culture.</p>
                    <p>
                        2. Discounts Galore: Enjoy savings of up to 50% on curated experiences across the city. Whether
                        you're dining at a hidden gem restaurant or attending a private cultural event, your membership
                        ensures you always
                        get the best value.</p>
                    <p> 3. Insider Knowledge: Our team of dedicated Stockholm enthusiasts is committed to crafting
                        content that inspires and informs. From the latest cultural hotspots to historical landmarks, we
                        keep you ahead with
                        actionable insights.</p>
                    <p>
                        4. Community and Connection: Join a community of like-minded individuals who share your passion
                        for exploring Stockholm's treasures. Whether you're a local or a visitor, Spotted Membership
                        connects you to a network of fellow adventurers.</p>
                    <p>
                        At Spotted, our mission is simple yet profound: to inspire and enable unforgettable experiences
                        in Stockholm. With your support, we continue to grow and evolve, bringing you closer to the
                        heartbeat of our city.</p>
                    <p>
                        Ready to embark on a journey of discovery with Spotted Stockholm? Become a member today and
                        elevate your Stockholm experience to new heights. Let's explore together and create memories
                        that last a lifetime.</p>
                    <p>
                        Join us at Spotted Stockholm - where every corner has a story waiting to be discovered.
                    <p>
                        Warm regards,
                        The Spotted Team
                    </p>

                    <h6>Get in Touch with Spotted!</h6>
                    <p>
                        Spotted Stockholm<br>
                        Drottninggatan 20<br>
                        111 51 Stockholm<br>
                        Sweden<br></p>
                </div>
                <div class="col-md-4 pr-lg-4">
                    <hr class="hr-thick">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}