{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="body partnerhsips-page">
    <div class="container-fluid d-flex justify-content-center mt-4 mb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pr-lg-4 text-left">
                    <h1 class="h3">Collaborate with Spotted Stockholm: Elevate Your Brand with Stockholm's Premier
                        Guide!</h1>
                    <br>
                    <h2 class="h5">Dear Potential Partner,
                    </h2>
                    <br>
                    <p class="membership-text">
                        Greetings from Spotted Stockholm, your gateway to the hidden gems and vibrant pulse of our
                        beloved city! Since our inception, we've been dedicated to showcasing the best of Stockholm
                        through curated content and
                        exclusive experiences, earning the trust of a diverse and engaged audience.</p>
                    <h3 class="h6">Why Partner with Spotted Stockholm?</h3>
                    <p>1. Reach a Captive Audience: With a monthly reach of over half a million urban adventurers and
                        culture enthusiasts, partnering with Spotted ensures your brand reaches a highly targeted
                        audience passionate about
                        exploring Stockholm.</p>
                    <p>
                        2. Enhance Visibility: Collaborate with us to feature your venue, product, or service in our
                        curated guides and exclusive
                        member experiences. Whether you're a boutique hotel, a restaurant offering unique cuisine, or a
                        cultural institution, we'll spotlight what makes you exceptional.</p>
                    <p> 3. Tailored Partnerships: We believe in crafting partnerships that align with our mission to
                        inspire and inform. Whether it's through sponsored content, event collaborations, or exclusive
                        offers for our members, we
                        tailor partnerships to maximize mutual benefit.</p>
                    <p>
                        4. Community Engagement: Join our community of partners and members who share a deep
                        appreciation for Stockholm's rich cultural tapestry. Engage directly with our audience through
                        events, promotions, and
                        collaborations that resonate with their interests.</p>
                    <p>
                        Let's Collaborate!</p>
                    <p>
                        We're excited to explore how we can collaborate to showcase your brand and enrich the
                        experiences of our audience. Whether you're looking to increase brand visibility, engage with a
                        targeted demographic, or simply share your passion for Stockholm, Spotted Stockholm offers a
                        platform that delivers results.</p>
                    <p>
                        Reach out to us at Partnerships@SpottedStockholm.com to discuss how we can create memorable
                        experiences together. Let's bring your brand closer to the heart of Stockholm's vibrant
                        community.
                    <p>
                        We look forward to the possibility of collaborating with you and creating something truly
                        special for Stockholm together.
                    </p>

                    <h6>Warm regards,</h6>

                    <p>The Spotted Stockholm Team</p>
                </div>
                <div class="col-md-4 pr-lg-4">
                    <hr class="hr-thick">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}